<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <a routerLink="/">Home </a>
      <a [routerLink]="['feature', 1]">feature 1 {{ feature1Activated ? '(activated) ' : '' }}</a>
      <a [routerLink]="['feature', 2]">feature 2 {{ feature2Activated ? '(activated) ' : '' }}</a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

